*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: "poppins" ,sans-serif; 
    
}
body{
    background:linear-gradient(45deg, #405de6, #5851db, #833ab4,
     #c13584,#e1306c, #fd1d1d);
    width: 100%;
    height: auto;
}
.title {
    display: flex;
    justify-content: center;
    color:#5222de;
    font-size: 2.2em;
    font-weight: 800;
    margin-bottom: 30px;
}
.card{
    display: flex;
    justify-content: center;
}
.casing{
background-color: rgb(255, 255, 255);
color: rgb(0, 0, 0);
text-align: center;
width: 21.25em;
box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
border-radius: 30px;
padding: 23px;
margin: 13px;
transition: 1s ease;
}

.casing:hover{
    transform: scale(1.1);
}

.card-detail ul li{
    list-style-type: none;
    text-align: left;
    font-weight: 300;
    font-size: 19;
    color:rgb(0, 0, 0);
}
.card-header{
   font-weight: 400;
   font-size: 26;
    color: rgb(248, 112, 0);
}
.card-price > p{
    font-size: 35;
    font-weight: 400;
}
.card-button{
    padding: 0.6rem 3rem;
    border: 2px solid #5222de;
    background-color: #5222de;
    color:#fff;
    border-radius: 30px;
    cursor: pointer;
    transition: 0.7 ease;
}

.card-button:hover{
background-color: #fff;
transform:scale(1.1);
color: rgb(45, 93, 224);
}

.rating{
text-align: left;
background-color: rgb(255, 255, 255);
color: rgb(0, 0, 0);
text-align: left;
padding: 19px;
width: 28.25em;
height: 33.25em;
border-radius: 13px;
}

.rating h1 {
display: flex;
justify-content: left;
color:#5222de;
font-size: 2.2em;
font-weight: 800;
}

.detail h3{
justify-content: left;
color:rgb(248, 112, 0);
}
.detail{
    font-size: 17;
}
.input{
text-align: center;
border-radius: 3px;
height: 19px;
width: 250px;
box-shadow: 0px 0px 7px #2a2a2b;
outline: none;
border:none;
}
.card-button-1{
display: flex;
    padding: 0.6rem 11rem;
    border: 2px solid #ffffff;
    background-color: #5222de;
    color:#fff;
    border-radius: 30px;
    cursor: pointer;
    transition: 1.7 ease;
}

.card-button-1:hover{
    font-size: 17px;
background-color:rgb(248, 112, 0);
transform:scale(1);
color: rgb(45, 93, 224);
}
.custmer{
border-radius: 18px;
margin: 9px;
justify-content: center;
background-color: #FFFFFF;
text-align: left;
width: 19em;
border-radius: 12px;
padding: 12px;
}
.c-custmer h4{
    text-align: left;
}
.c-custmer p{
    text-align: center;
}
.title2{
    display: flex;
    justify-content: center;
    color:#000000;
    font-size: 2.2em;
    font-weight: 800;
    margin-bottom: 30px;
}
.iiii{
    padding: 32px;
    margin: 22px;
}
